*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

//Marquee tool
.marquee-container::before {
  background: transparent;
}
.marquee-container:not(.horizontal)::before {
  background: transparent !important;
}
.marquee-container:not(.horizontal)::after {
  background: transparent !important;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

body {
  background-color: white;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.shadow-mobile-footer {
  box-shadow: 0px -2px 6px -1px rgba(112, 112, 112, 0.55);
  -webkit-box-shadow: 0px -2px 6px -1px rgba(112, 112, 112, 0.55);
  -moz-box-shadow: 0px -2px 6px -1px rgba(112, 112, 112, 0.55);
}
.menuheight {
  height: calc(100vh - 4rem);
}
.logo {
  object-fit: contain;
  width: 130px;
}
@media screen and (max-width: 645px) {
  body {
    background-color: #e0f1fd;
  }
  .logo {
    object-fit: contain;
    width: 200px;
  }
}

@font-face {
  font-family: Strawford;
  src: url(/StrawfordMedium);
}
